<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <title>Bfy.me</title>
</head>
<body>
  <header>
    <div class="container-header"><a class="brand" href="index.html">
        <svg>
          <use xlink:href="images/icons.svg#logo"></use>
        </svg></a>
      <input type="checkbox" id="label-login" name="login">
      <label class="label-login" for="label-login"><span class="icon-hamburguer"></span></label>
      <nav class="menu">
        <ul class="menu-navegation">
          <li class="item hidden-lg"><a href="login.html">Entrar</a></li>
          <li class="item servicos"><a href="#dropdown">Serviços
              <div class="icon-arrow"></div>
              <div id="dropdown"><a class="menu-link-dropdown" href="servicos.html">
                   Maquiagem
                  <svg>
                    <use xlink:href="images/icons.svg#maquiagem"></use>
                  </svg></a><a class="menu-link-dropdown" href="servicos.html">
                   Massagem
                  <svg>
                    <use xlink:href="images/icons.svg#massagem"></use>
                  </svg></a><a class="menu-link-dropdown" href="servicos.html">
                   Manicure
                  <svg>
                    <use xlink:href="images/icons.svg#manicure"> </use>
                  </svg></a><a class="menu-link-dropdown" href="servicos.html">
                   Podologia
                  <svg>
                    <use xlink:href="images/icons.svg#podologia"></use>
                  </svg></a><a class="menu-link-dropdown" href="servicos.html">
                   Penteado
                  <svg>
                    <use xlink:href="images/icons.svg#penteado"></use>
                  </svg></a></div></a></li>
          <li class="item"><a href="duvidas.html">Dúvidas</a></li>
          <li class="item"><a href="blog.php">Blog</a></li>
          <li class="item"><a href="profissional.html">Seja um profissional</a></li>
        </ul>
      </nav><a class="btn btn-login" href="login.html">Entrar</a>
    </div>
  </header>
  <div class="foo banner_default banner_duvidas">
    <section class="main-banner">
      <h2 class="title_default title_banner">Estética, beleza, bem-estar e saúde</h2>
      <h3 class="subtitle_default subtitle_banner">O blog do Bfy.me está aqui</h3>
    </section>
  </div>
  <div class="container">
    <h2 class="text-center m-5 title_default">Últimas postagens</h2>
    <div class="row">
      <div class="col-sm-8 blog-main text-muted">
      <% for(var i = 0; i < postagem.length; i++) { %>
        <div class="blog-post mb-5">
          <h2 class="blog-post-title title_item"><%= postagem[i].nm_titulo %></h2>
          <p class="blog-post-meta"><%= postagem[i].nm_autor %></p>
          <hr>
          <p><%= postagem[i].ds_postagem %></p>
          <a href="#" class="badge badge-secondary">Beleza</a>
          <a href="#" class="badge badge-secondary">Saúde</a>
          <a href="#" class="badge badge-secondary">#DicaBfyme</a>
        </div>
      <% } %>
      </div>
      <div class="col-sm-3 offset-sm-1 blog-sidebar text-secondary">
        <div class="sidebar-module sidebar-module-inset">
          <div class="card">
            <div class="card-header">
              #Tags populares
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">#Beleza</li>
              <li class="list-group-item">#Saúde</li>
              <li class="list-group-item">#DicaBfyme</li>
              <li class="list-group-item">#Bfyme</li>
              <li class="list-group-item">#Estetica</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>